body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}
nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background-color: darkred;
}

button {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: darkred;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 10px;
}

button a {
    text-decoration: none;
    color: white;
    background-color: darkred;
}

button:hover {
  opacity: 0.8;
}

button:hover {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: black;
}

button:hover a {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-item a {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
  
}

.nav-item:hover {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.nav-item:hover a {
    color: black;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color:black;
}
  
.banner h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 3px 3px 2px #474747;
    padding: 40px;
    text-align: left;
    font-size: 60px;
    color: goldenrod;
}

.buttons-manage {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color:black;
}

.banner-button {
    list-style: none;
    display: flex;
    padding: 10px;
}
  
.banner-button a {
    padding: 0px 0px;
    text-decoration: none;
    color: white;
}

.banner-button:hover {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.banner-button:hover a {
    color: black;
}

.open-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: white;
    background-color:black;
}
  
.tint-one {
    text-align: center;
    background-color: black;
    color:white;
    padding-top: 20px;
}

.buttons-col {
    list-style: none;
    display: flex;
    padding: 10px;
}
  
.buttons-col a {
    padding: 0px 0px;
    text-decoration: none;
    color: white;
}

.buttons-col:hover {
    background-color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.buttons-col:hover a {
    color: black;
}

.now_play_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.now_play_grid p {
    display: grid;
    padding: 20px;
    gap: 10px;
}

.now_play_grid a {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    background-color: darkred;
    border-radius: 10px;
}

.now_play_grid a:hover {
    background-color: aliceblue;
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.now_play_grid .item-col h4 {
    font-size: 20px;
    padding-bottom: 0px;
}
  
.button bookmovie {
    display: inline-block;
    border-radius: 10px;
    background-color: goldenrod;
    padding: 15px;
    font-size: 15px;
    color: white;
    align-items: center;
    justify-content: center; 
}

.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    outline: 2px dashed crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    width: 600px;
    height: 400px;
    box-shadow: 10px 10px lightblue;
    background-color: lavender;
    text-align: center;
}

footer {
    padding-bottom: 20px;
}
  
  /**************** create a verticle layout for mobile devices (smaller than 600px ).    *********/
  @media all and (max-width: 600px) {
    .now_play_grid {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .quad-col {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-links {
      flex-direction: column;
      text-align: center;
      padding: 0px;
    }
  }